#loading{
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
}
#loading .one_circle{
    width: 20px;
    height: 20px;
    background: var(--dark_clouds);
    opacity: 0;
    /* border-radius: 50%; */
    position: absolute;
    /* transform-origin: 50% -20px; */
    animation: loading_1circle infinite 2s; /* cube */
    animation: loading_s infinite 2.3s; /* path */
}